@model IEnumerable<ProjetNet.Models.Product>

@{
    ViewData["Title"] = "Produits par Catégorie";
}

<div class="container mt-4">
    <h2 class="mb-4">Produits</h2>

    <div class="row">
        @foreach (var p in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card shadow-sm">
                    <img src="/images/products/@p.ImageUrl" class="card-img-top" height="200">

                    <div class="card-body">
                        <h5>@p.Name</h5>
                        <p class="fw-bold">@p.Price DT</p>
                        <a href="/Product/Details/@p.Id" class="btn btn-primary w-100">Voir</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
